.section {
  margin-top: 48px;
  margin-bottom: 52px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
  max-width: 375px;

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 768px;
  }

  @media screen and (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1352px;
  }
}
.border-text {
  border-bottom: 1px solid #1018281a;
}

.selected {
  border: 1px solid #E44848;
}

.active {
  color: #E44848;
}

.input {
  width: 100%;
  display: flex;
  height: 56px;
  padding: 18px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #f7f7f7;
  outline: none;

  color: #10182899;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  transition: border-color 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:focus,
  &:hover {
    border: 1px solid #e44848;
    background-color: #f7f7f7;
  }
  // &:focus {
  //   color: #a7aab5;
  // }

  &::placeholder {
    color: #10182899;
  }

  //   ${({ error }) =>
  //     error === "true" &&
  //     css`
  //       border: 1px solid red;
  //     `}
  //   ${({ success }) =>
  //     success === "true" &&
  //     css`
  //       border: 1px solid green;
  //     `}
}
.comment {
  width: 100%;

  height: 114px;
  padding: 18px 0 78px 18px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background-color: #f7f7f7;
  outline: none;

  color: #10182899;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  transition: border-color 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:focus,
  &:hover {
    border: 1px solid #e44848;
  }
  &:focus {
    color: #a7aab5;
  }

  &::placeholder {
    color: #10182899;
  }
}

.hidden {
  display: none;
}

.date-input {
  .MuiFormControl-root {
    width: 100%;
    display: flex;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border: none;
    border-radius: 10px;

    &:focus,
    &:hover {
      border: 1px solid #e44848;
    }
  }
  .MuiOutlinedInput-root {
    border: none;
  }

  .MuiInputBase-input {
    color: #10182899;
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }

  .MuiSvgIcon-root {
    display: none; /* Якщо потрібно приховати іконку */
  }
  .MuiInputBase-root {
    border: none;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
  .MuiInputBase-input {
    border: none;
  }
}

.select .Select__control {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #f7f7f7;
  border: none;
  svg {
    transform: rotate(0deg);
    transition: transform 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
  @media screen and (max: 768px) {
    width: 360px;
  }
}

.select .Select__control--menu-is-open {
  svg {
    transform: rotate(-180deg);
  }
}

.select .Select__indicator-separator {
  display: none;
}

.select .Select__clear-indicator {
  display: none;
}

.select .Select__input-container {
  color: #f3f3f3;
  margin: 0;
  padding: 0;

  &:hover {
    color: #f3f3f3;
  }

  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
}

.select .Select__input {
  line-height: 1.285 !important;

  @media screen and (min-width: 768px) {
    line-height: 1.56 !important;
  }
}

.select .Select__input__placeholder,
.select .Select__single-value {
  color: #10182899;
  line-height: 1.285;
  margin: 0;
}

.select .Select__menu {
  margin: 0;
  margin-top: 4px;
  border-radius: 24px;
  background-color: #ffffff;
  overflow: hidden;
}

.select .Select__menu-list {
  padding: 10px;
  border-radius: 24px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  max-height: 250px;
}

.select .Select__option {
  padding: 4px 14px;
  border-radius: 20px;
  color: #101828;
  // transition:
  //   color ${transition},
  //   background-color ${transition};
  background-color: transparent;
  cursor: pointer;
  line-height: 1.285;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #e44848;
  }

  &:active {
    color: #ffffff;
    background-color: #e44848;
  }

  @media screen and (min-width: 768px) {
    font-size: 17px;
    line-height: 1.56;
  }
}
